.jumbotron {
    text-align: center;
    font-family: 'Space Mono', monospace;

}

.shuttle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
}

body {
    background-image: url("../images/stars.jpg")
}

#currentQuestion{
    background-color: white;
}

#quiz{
    color: white;
    font-family: 'Space Mono', monospace;
}

#timer{
    font-size: xx-large;
    color: greenyellow;
}

#after_submit{
    visibility: hidden;
    color: greenyellow;
}
